:root{
  --color-01: #010D00;
  --color-background-nav: #8C8377;
  --color-03: #BFB3A4;
  --color-background-light: #D9CDBF;
  --color-05: #0D0D0D;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; 
}

html,
body{
  background-color: var(--color-background-light);
}

a{
  text-decoration: none;
  transition: 0.2s;
}

a:hover{
  opacity: 0.8;
}

.container{
  width: 90%;
}